name: Run continuous integration checks

on: [push]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  FORK_RPC: ${{ secrets.FORK_RPC }}

jobs:
  ci:
    runs-on: ubuntu-latest
    env:
      CONFIG_PATH: ${{ github.workspace }}/scripts/config.json
    steps:
      - uses: actions/checkout@v3

      - name: Install anvil
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly

      - uses: actions/setup-node@v4
        with:
          node-version: 21
      - uses: actions/cache@v3
        with:
          path: |
            **/node_modules
            .yarn/cache
            .yarn/install-state.gz
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock', '.yarnrc.yml') }}

      - name: Install dependencies & setup
        run: |
          yarn
          yarn setup

      - name: Check formatting
        run: yarn check:prettier
        continue-on-error: true
        - name: Run Prettier if formatting fails
          if: failure() # This runs only if the previous step fails
          run: yarn prettier "clients/**/*.ts" --write

      - name: Run tests
        run: yarn test
